<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <style type="text/css">
        .style-br {
            display: block;
            line-height: 150%;
        }

        .footer {
            position: fixed;
            text-align: center;
            bottom: 10px;
            width: 100%;
        }
    </style>
    {% if title%}
    <title>Rail Cheap - {{ title }}</title>
    {% else %}
    <title>Rail Cheap</title>
    {% endif %}
    <meta name="description" content="Find cheapest dates for your travel with UK National Railways">
    <meta name="keywords"
        content="train, times, tickets, railway, cheap tickets, national railways, uk national national railways, uk travel,">
</head>

<body>
    <div><h6>Rail Cheap: <a href="{{ url_for('home')}}">Home</a></h6></div>
    <hr>
    {% block content %} {% endblock %}
    <div class="footer">#FTD2020 by Nikolay Salionov</div>
</body>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>

</html>