{% extends 'base.html' %}
{% block content %}

{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <p style="color:red" > {{ message }} </p>
            <p></p>
            <p></p>
        {% endfor %}
    {% endif %}
{% endwith %}
    <form class="form-inline" method="POST" action="{{ url_for('result') }}">
        <div>
            <input name="origin" list="stations" placeholder="Where from?" autofocus="true" required="true" autocomplete="off"><br>
            <input name="destination" list="stations" placeholder="Where to?" required="true" autocomplete="off">
                <datalist id="stations">
                    {% for station in stations %}
                        <option value="{{ station }}">{{ station }}</option>
                    {% endfor %}
                </datalist>
        </div>
        <p></p>
        <div>
            <label for="return_option">Return: </label>
            <select id="return_option" name="return_option">
                <option value="999"> One way </option>
                <option value="1" selected="selected" > Same day </option>
                <option value="2"> Next day </option>
                <option value="3"> +2 days </option>
                <option value="4"> +3 days </option>
                <option value="8"> +7 days </option>
                <option value="9"> +7 days </option>
                <option value="14"> +13 days </option>
                <option value="15"> +14 days </option>
            </select>
        </div>
        <p></p>
        <div>
            <label for="search_limit_days">I'm travelling within: </label>
            <select id="search_limit_days" name="search_limit_days">
                <option value="31"> 1 month</option>
                <option value="61" selected="selected" > 2 months </option>
                <option value="84"> 3 months</option>
            </select>
        </div>
        <p></p>
        <div>
            <input id="weekends_only" name="weekends_only" type="checkbox" checked="true">
            <label for="weekends_only">Weekends only</label>
        </div>
        <p><button type="submit" class="btn btn-default">Search</button></p> 
         
    </form>
     
{% endblock %}